@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-carousel {
  animation: carousel 30s linear infinite;
}

/* @layer base {
  html {
    font-family: 'Inter', sans-serif;
  }
}

@layer utilities {
  .font-lexend {
    font-family: 'Lexend', sans-serif;
  }
} */
